In [1]:
import pandas as pd

In [3]:
#series object from List
a=pd.Series([1,2,3])

In [4]:
a

0    1
1    2
2    3
dtype: int64

In [5]:
a=pd.Series([1,2,3],index=['a','b','c'])

In [10]:
a

a    1
b    2
c    3
dtype: int64

In [7]:
# series object from dictionary

In [8]:
d={'a':10,'b':20,'c':30}

In [11]:
s1=pd.Series(d)

In [12]:
s1

a    10
b    20
c    30
dtype: int64

In [13]:
#Create Student Data Frame

In [14]:
student=({"Name":["manu","Anu","Ranu"],"Marks":[89,67,88]})

In [18]:
pd.DataFrame(student)

   Name  Marks
0  manu     89
1   Anu     67
2  Ranu     88

In [ ]:
#Inbuilt data frame function
i=pd.read_csv('iris.csv')

In [ ]:
i.head()

In [ ]:
i